<div class="relative bg-[#141e30]/60 backdrop-blur-md rounded-2xl p-4 shadow-lg shadow-cyan-500/10 text-center">
  <div class="image-container mb-4">
    <img src="{{image}}" alt="{{name}}" class="w-full h-full object-cover rounded-xl" />
    <div class="ibs-overlay">IBS score: {{ibs}}</div>
  </div>
  <h4 class="uppercase font-semibold tracking-wider text-lg md:text-xl mb-2">{{name}}</h4>
  <p class="text-slate-100 text-sm mb-1">{{value}}</p>
  <p class="text-slate-400 text-sm mb-2">IBS: {{ibs}}%</p>
  <p class="{{adviceColor}} font-extrabold mb-1">Advies: {{advice}}</p>
  <p class="text-slate-300 text-xs">{{explanation}}</p>
</div>
